body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* Выровнять элементы по вертикали */
    align-items: center;
    /* Центрировать элементы по горизонтали */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

#timer {
    font-size: 2cqmin;
    margin-top: 20px;
}