.container {
    display: flex;
    width: 100vw;
    height: 100px;
}

.item1 {

    flex-basis: calc(100%/3);
    background-color: antiquewhite;
    flex-grow: 1;
}

.item2 {
    flex-basis: calc(100%/3);
    width: 100%/3;
    background-color: orange;
}

.item3 {
    width: 100%/3;
    background-color: green;
    flex-basis: calc(100%/3);
}