* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
    flex-direction: row;
    gap: 2px;
    position: relative;
    justify-content: center;

   height: 100%;
}

.cinema {
    position: relative;
    flex-grow: 1;
    width: 300px;
    height: 400px;
    background-size: cover;
    margin: 10px;
    position: relative;
    background-repeat: no-repeat;

float: left;
}

.cinema_1 {
    background-image: url(../images/11.webp);
}

.cinema_2 {
    background-image: url(../images/club.webp);
}

.cinema_3 {
    background-image: url(../images/forest.webp);
}

.cinema_4 {
    background-image: url(../images/ghost.webp);
}

.cinema_5 {
    background-image: url(../images/greenmile.webp);
}

.cinema_6 {
    background-image: url(../images/shawshank.webp);
}

.block-text {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    color: white;
    background: linear-gradient(to top, black 0%, transparent 100%);
  
   /*opacity: 0.4;
     background-color: rgba(0, 0, 0, 0.5);
    Полупрозрачный фон для текста */
    padding: 5px;
    width: 100%;
    /*text-align: center;
     Текст по центру */
    font-weight: normal;

    text-align: justify;

display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
}
.drama{
    position: absolute;
    font: black;
    font-size: 12px;
    background-color: yellow;
    right: 5px;
    top: 5px;
    padding: 3px;

}
h1{
    left: 10px;
    position: relative;
    text-align: left;
}
h2{
    left: 10px;
    position: relative;
    text-align: left;
    color: yellow;
}