* {
    margin: 0;
    padding: 0;
}

.black_block {
    margin: 10px;
    height: 100vh;
    width: 100wh;
    background: linear-gradient(white 50%, grey, #0b0303);
    border: 3px solid black;
    border-radius: 5px;


}

.text {
    font-size: 30px;
    background-color: yellow;
    position: absolute;
    right: 13px;
    padding: 3px;

}